{% extends 'base.html' %}
{% block other_in_head %}
    <link href="/static/css/style_index.css" rel="stylesheet">
    <link href="/static/css/favorite.css" rel="stylesheet">
    <script src="/static/js/create_new_test.js"></script>
{% endblock %}
{% block title %}
    Create new test
{% endblock %}
{% block main %}
    <div class="container">
        <form id="creating-form" onsubmit="createSubmit(this)" method="post">
            {{ feachers.error_div() }}
            <div class="col-6 txt-pretty"><br/>
                <h3 class="h3">Вопрос:</h3>
                <textarea name="question_txt" class="form-control" rows=4></textarea><br/>
                <label for="question_file">Медиафайл к вопросу</label>
                <input type="file" name="question_file" id="question_file"
                       value="file" class="form-control-file">
                <br/><br/>
                <h3 class="h3">Ответ:</h3>
                <ul class="radio-btn" id="answer-kind">
                    <li class="txt-pretty">
                        <input type="radio" name="al" checked="checked" value="plain-text" id="rpt">
                        <label for="rpt">Простой текст</label>
                    </li>
                    <li class="txt-pretty">
                        <input type="radio" name="al" value="choice" id="rca">
                        <label for="rca">Выбор ответа</label>
                    </li>
                </ul>
                <br><br>
                <div id="bpt" style="display: block">
                    <label for="cor-name">Верный ответ</label>
                    <input type="text" id="cor-name" name="cor-answer"
                           class="form-control">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                               value="" id="case-ins" name="case-ins" checked>
                        <label class="form-check-label" for="case-ins">
                            Ответ не зависит от регистра
                        </label>
                    </div>
                </div>
                <div id="bca" style="display: none">
                    <table class="table" id="table-with-answers">
                        <thead>
                        <tr>
                            <th scope="col">Текст</th>
                            <th scope="col">Правильность</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="ca-plus-ans" class="btn-info my-btn">+</div>
                </div>
                <br/>
                {{ feachers.levels_for_form(levels) }}
                <input type="submit" value="Создать" class="btn"
                       style="margin: 30px; padding: 15px; background-color: #33333344">
            </div>
        </form>
    </div>
    {% if to_edit %}
        <script>
            $('[name=question_txt]').val({{ test['question_txt'] or '' }});
            $('')
        </script>
    {% endif %}
{% endblock %}
