{% extends 'base.html' %}
{% block other_in_head %}
    <link href="/static/css/style_index.css" rel="stylesheet">
    <link href="/static/css/favorite.css" rel="stylesheet">
{% endblock %}
{% block title %}
    Решение теста
{% endblock %}
{% block main %}
    <div class="container" style="margin: 0 auto;">
        <input type="hidden" value="{{ test['id'] }}" id="test_id">
        {{ feachers.error_div() }}
        <br/>
        {{ feachers.view_test(
            test, 'student_on_exam'
        ) }}
        <br/>
        <div style="display: none" id="mark-block">
            <p style="display: inline-block;">Вы получили за это задание </p>
            <p style="display: inline-block;" id="how-many-give"></p>
            <p style="display: inline-block;"> баллов</p></div>
        <br/>
        <input type="button" onclick="ok()" value="Ok!" id="ok-btn"
               class="btn-info ok-btn float-right">
    </div>
{% endblock %}
