{% extends 'base.html' %}
{% block other_in_head %}
    <link href="/static/css/style_index.css" rel="stylesheet">
    <link href="/static/css/favorite.css" rel="stylesheet">
{% endblock %}
{% block title %}
    Exam page
{% endblock %}
{% block main %}
    <div class="container">
        {{ test['querstion_txt'] }}
        <br/>
        <img width="300px" height="300px"
             src="data:image/png;base64, {{ test['question_bytes'].rstrip().decode() }}" alt="some img"/>
        <br/><br/>
        {% if test['type_answer'] == 'ch' %}
            <ul>
            {% for ch in test['choice'] %}
                <li>{{ ch }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
