{# this file only for macros #}
{%- macro error_div() -%}
    <div class="alert alert-success" id="view-alert"
         style="display: none">
        <button type="button" class="close"
                onclick="$('#view-alert').fadeOut();">
            x
        </button>
        <strong id="mc-what"></strong>
        <div id="reason-to-fail"></div>
    </div>
    <style>
        .mc-error-css {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        .mc-info-css {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }

        .mc-success-css {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }
    </style>
    <script>
        function make(what, reason, title) {
            let va = $('#view-alert');
            va.addClass('mc-' + what.toLowerCase() + '-css');
            $('#mc-what')[0].innerText = title || {
                'error': 'Ошибка!',
                'info': 'Info!',
                'success': 'Успешно!',
            }[what];
            $('#reason-to-fail')[0].innerText = reason;
            va.fadeIn();
        }
    </script>
{%- endmacro -%}

{%- macro levels_for_form(levels) -%}
    <h4>Level:</h4>
    {% for i, l in levels %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox"
                   name="levels" id="l{{ i }}" value="{{ l['name'] }}">
            <label class="form-check-label" for="l{{ i }}">
                {{ l['name'] }}
            </label>
        </div>
    {% endfor %}
{%- endmacro -%}

{%- macro view_test(test, show_for) -%}
    {# show_as must be in ['teacher', 'student_on_exam', 'student_after_exam'] #}
    <h3>{{ test['question_txt'] }}</h3>
    {% if test['question_bytes'] %}
        <img class="ques-pic"
             src="data:image/png;base64, {{ test['question_bytes'].rstrip().decode() }}" alt="some img"/>
    {% endif %}
    <script src="/static/js/exam_test.js"></script>
    <script>type_ans = '{{ test['type_answer'] }}'</script>

    {% if test['type_answer'] == 'ch' %}
        {{ 'Выбирете' if show_for == 'student_on_exam' else 'Требуется выбрать'}}
        один или более вариантов:<br/>
        {% for i, ch in test['choice'] %}
            <button class="btn btn-choice" id="ch-btn-{{ i }}">{{ ch[0] }}</button>
            <script>
                var cur_btn = $('#ch-btn-{{ i }}');
                {% if show_for == 'student_on_exam' %}
                    {# только на экзамене добавляем реакцию на нажатие #}
                    cur_btn.click(() => add_ch({{ i }}, '#ch-btn-{{ i }}'));
                {% else %}
                    {# иначе подсветим правильность этого варианта #}
                    cur_btn.addClass('{{ 'correct' if ch[1] else 'incorrect' }}');
                {% endif %}
            </script>
        {% endfor %}
    {% else %}
        {% if show_for == 'student_on_exam' %}
            <label for="answer-plain-text">Введите ответ на вопрос.</label>
            <input type="text" value="{{ test['correct'] }}"
                   id="answer-plain-text" name="answer" class="input-group-addon q-inp">
        {% else %}
            Правильный ответ: {{ test['correct'] }}<br/>
        {% endif %}
    {% endif %}

    {% if show_for == 'student_after_exam' %}<br/>
        Вы отвелили: {{ test['answer'] }}<br/>
        Получено баллов: {{ test['point'] }} / 100<br/>
    {% else %}

    {% endif %}
{%- endmacro -%}