{% extends 'base.html' %}
{% block other_in_head %}
    <link href="/static/css/style_index.css" rel="stylesheet">
    <script src="/static/js/script_index.js"></script>
{% endblock %}
{% block title %}
    Start page
{% endblock %}
{% block main %}
<div class="container">
    <div class="col-12">
        {% if mission == 'teacher' %}
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d1bd4766">
                    <h5 class="card-title"><a href="#" onclick="tests()">Тесты</a></h5>
                    <p class="card-text">Здесь вы можете создавать новые тесты
                    и смотреть за их статистикой</p>
                    <p>создано {{ created_tests }} тестов
                        <a href="/tests/new">(создать новый)</a></p>
                    <p>получено {{ sol_received }} решений
                        <a href="/tests/stats">(смотреть статистику)</a></p>
                </div>
            </div>
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d9945066">
                    <h5 class="card-title"><a href="#">Тренировочные видео</a></h5>
                    <p class="card-text">Здесь вы можете загружать новые
                    обучающие видео или смотреть их статистику</p>
                    <p>создано {{ created_video }} видео
                        <a href="/video/new">(создать новое)</a></p>
                    <p>{{ watched }} минут просмотров
                        <a href="/video/stats">(смотреть статистику)</a></p>
                </div>
            </div>
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d1bd4766">
                    <h5 class="card-title"><a href="#">Video calls with students</a></h5>
                    <p class="card-text">Here you can call students or find them</p>
                </div>
            </div>
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d9945066">
                    <h5 class="card-title"><a href="#">Writing</a></h5>
                    <p class="card-text">Here you can check student work
                        and add tasks</p>
                </div>
            </div>
        {% elif mission == 'student' %}
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d1bd4766">
                    <h5 class="card-title"><a href="#" onclick="tests()">Tests</a></h5>
                    <p class="card-text">Here you can pass tests
                        and follow their statistics</p>
                    <p>{{ created_tests }} tests created
                        <a href="/tests/exam">(start testing)</a></p>
                    <p>{{ sol_received }} solutions received
                        <a href="/tests/stats">(see stats)</a></p>
                </div>
            </div>
            {# todo: other block don't follow real description #}
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d9945066">
                    <h5 class="card-title"><a href="#">Training videos</a></h5>
                    <p class="card-text">Here you can upload training
                        videos and follow their statistics</p>
                </div>
            </div>
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d1bd4766">
                    <h5 class="card-title"><a href="#">Video calls with students</a></h5>
                    <p class="card-text">Here you can call students or find them</p>
                </div>
            </div>
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d9945066">
                    <h5 class="card-title"><a href="#">Writing</a></h5>
                    <p class="card-text">Here you can check student work
                        and add tasks</p>
                </div>
            </div>
        {% endif %}

    </div>
    <script src="/static/js/uploader.ts"></script>
{% endblock %}
