{% extends 'base.html' %}
{% block other_in_head %}
    <link href="/static/css/style_index.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}
    Start page
{% endblock %}
{% block main %}
<div class="container">
    <div class="col-12">
        {% if mission == 'teacher' %}
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d1bd4766">
                    <h5 class="card-title">Тесты</h5>
                    <p class="card-text">Здесь вы можете создавать новые тесты
                    и смотреть за их статистикой</p>
                    <p>создано {{ created_tests }} тестов
                        <a href="/tests/new">(создать новый)</a></p>
                    <p>получено {{ sol_received }} решений
                        <a href="/tests/stats">(смотреть статистику)</a></p>
                </div>
            </div>
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d9945066">
                    <h5 class="card-title">Тренировочные видео</h5>
                    <p class="card-text">Здесь вы можете загружать новые
                    обучающие видео или смотреть их статистику</p>
                    <p>создано {{ created_video }} видео
                        <a href="/video/new">(создать новое)</a></p>
                    <p>{{ watched }} просмотров
                        <a href="/video/stats">(смотреть статистику)</a></p>
                </div>
            </div>
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d1bd4766">
                    <h5 class="card-title">Трансляции</h5>
                    <p class="card-text">Здесь вы можете запустить трансляцию
                        урока</p>
                    <p><a href="/webinars/start">Как начать?</a></p>
                    <p><a href="/webinars/current">Текущая трансляция</a></p>
                    <p><a href="/webinars/all">Все трасляции</a></p>
                </div>
            </div>
        {% elif mission == 'student' %}
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d1bd4766">
                    <h5 class="card-title">Тесты</h5>
                    <p class="card-text">Тесты тренируют грамматику иностранного языка</p>
                    <p><a href="/tests/exam">Начать решать</a></p>
                    {% if sol_received %}
                        <p>Уже {{ sol_received }} решено
                        <a href="/tests/stats">(Смотреть статистику)</a></p>
                    {% else %}
                        Пока что вы не решали тесты
                    {% endif %}
                </div>
            </div>
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d9945066">
                    <h5 class="card-title">Обучающие видео</h5>
                    <p class="card-text">Видео нацелены на улучшение
                        умения понимать иностранную речь</p>
                    <p><a href="/video/stats">К списку видео</a></p>
                </div>
            </div>
            <div class="card custom-card my-btn">
                <div class="card-body custom-card-body radius-able"
                     style="background-color: #d1bd4766">
                    <h5 class="card-title">Видеозвонки с преподавателями</h5>
                    <p class="card-text">Видеозвонки помогут вам освоить
                        определенную тему</p>
                    <p><a href="/webinars/invite">Создать заявку на занятие</a></p>
                    {% if webinar_soon %}
                        <p><a href="/webinars">Перейти к расписанию</a></p>
                    {% else %}
                        <p>Ближайших встреч нет</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
