{% extends 'base.html' %}
{% block other_in_head %}
    <link href="/static/css/login.css" rel="stylesheet">
    <script src="/static/js/script_index.js"></script>
{% endblock %}
{% block title %}
    Вход
{% endblock %}
{% block navbar %}{% endblock %}
{% block main %}
<br/>
<h1 class="header_text">
    STONEHENGE
</h1>
<form>
    <div class="forma">
        <div style="padding: 10px;">
            <label>
                <input type="text" name="login" placeholder="login"
                       class="form-control cus_inp"><br/>
                <input type="password" name="passw" placeholder="password"
                       class="form-control cus_inp"><br/>
                <input type="button"
                       value="sign in"
                       class="btn-info custom-btn"><br/>
            </label>
            <br/>
            <p style='font-size: 24px; text-align: center'>or</p>
            <button class="oauth_block custom-btn" formaction="/oauth/google">
                <img src="/static/images/google.png"
                     alt="google" height="30px" width="30px">
                Sign in with Google
            </button>
            <br/>
            <button class="oauth_block custom-btn" formaction="/oauth/vk">
                <img src="/static/images/vk.png"
                     alt="vk" height="30px" width="30px">
                Sign in with VK
            </button>
        </div>
        <br/>
        <div style="padding: 10px;">
            <p style='font-size: 24px; text-align: center'>or</p>
            <input
                    class="btn-info custom-btn"
                    onclick="document.location.href = '/registration'"
                    type="button"
                    value="sign up">
        </div>
    </div>
</form>
{% endblock %}
