{% extends 'base.html' %}
{% block other_in_head %}
    <link href="/static/css/style_index.css" rel="stylesheet">
    <link href="/static/css/favorite.css" rel="stylesheet">
{% endblock %}
{% block title %}
    Просмотр теста
{% endblock %}
{% block main %}
    <div class="container"><br/>
        {{ feachers.error_div() }}
        {{ feachers.view_test(
            test,
            'teacher' if mission == 'teacher' else 'student_after_exam'
        ) }}
        {% if mission == 'teacher' %}
            {{ feachers.modal_for_delete('Тест', 'sendTestDelete',
                    'Тест #' + (test["id"] | string)) }}
            <button class="btn btn-info d-inline float-right mr-2"
                    type="button">
                Исправить
            </button>
        {% endif %}
    </div>
{% endblock %}
