{% extends 'base.html' %}
{% block other_in_head %}
    <link href="/static/css/registration.css" rel="stylesheet">
    <script src="/static/js/node_modules/blueimp-md5/js/md5.js"></script>
{% endblock %}
{% block title %}
    Вход
{% endblock %}
{% block navbar %}{% endblock %}
{% block main %}
<h1 class="header_text">
    STONEHENGE
</h1>
<form>
    <div class="forma">
        <div style="padding: 10px;">
            <label>
                <input type="text" name="email" placeholder="email"
                       class="form-control cus_inp"><br/>
                <input type="password" name="current-password" placeholder="password"
                       class="form-control cus_inp"><br/>
            </label>
            <input type="button"
                   value="sign up"
                   class="btn-info custom-btn"><br/>
            <br/>
            <p style='font-size: 24px; text-align: center'>or</p>
            <button class="oauth_block custom-btn" formaction="/oauth/google"
                    formmethod="post">
                <img src="/static/images/google.png"
                     alt="google" height="30px" width="30px">
                Sign up with Google
            </button>
            <br/><br/>
            <button class="oauth_block custom-btn" formaction="/oauth/vk"
                    formmethod="post"
                    style="margin-top: -15px">
                <img src="/static/images/vk.png"
                     alt="vk" height="30px" width="30px">
                Sign up with VK
            </button>
        </div>

        <br/>
        <div style="padding: 10px;">
            <p style='font-size: 24px; text-align: center'>or</p>
            <input
                    class="btn-info custom-btn"
                    onclick="document.location.href = '/login'"
                    type="button"
                    value="sign in">
        </div>
    </div>
</form>
{% endblock %}
