{% extends 'base.html' %}
{% block other_in_head %}
    <link href="/static/css/style_index.css" rel="stylesheet">
    <link href="/static/css/favorite.css" rel="stylesheet">
    <link href="/static/css/exam_test.css" rel="stylesheet">
    <script src="/static/js/exam_test.js"></script>
{% endblock %}
{% block title %}
    Статистика видеолекций
{% endblock %}
{% block main %}
<div class="container"><br/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Дата</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                {% if row['watched'] %}
                    <th scope="row">{{ row['title'] }} (просмотрено)</th>
                {% else %}
                    <th scope="row">{{ row['title'] }}</th>
                {% endif %}
                <td>{{ row['created_at'] }}</td>
                <td><a href="/video/{{ row['id'] }}">
                    К видео
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
