[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg);
    transition: all linear 0.25s;
}

[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg);
}

body {
    background-color: #F8F3F2;
}

.bg-custom {
    background-color: #1a1f3355;
}

li {
    font-size: 18px;
}

.hi_text {
    padding: 10px;
    margin-left: 200px;
}

.custom-card-body {
    background-color: #64A1CE40;
    min-height: 222px;
}

.radius-able {
    border-radius: 1.2rem;
}

.custom-card {
    width: 22rem;
    background-color: #0000;
    border-color: #0000;
    margin-top: 40px;
    display: inline-block;
}

.my-btn {
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-console {
    overflow: auto;
    border-radius: 1.2rem;
    margin-top: 40px;
    height: 610px;
    border: 2px darkgray solid;
}

.message {
    background-color: #00636344;
    border-radius: 0.7rem;
    padding: 10px;
    margin: 10px;
    border: 2px darkgray solid;
}

.maybe-chosen:hover {
    background-color: #00936344;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hr {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
}